.head {
    text-align: center;
}

.flex {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
  
    padding: 0;
    margin: 0;
    list-style: none;
}

.mid-box {
    display : flex;
    height: 100%;
    list-style: none;
    gap : 200px;
}

.mid-box-items {
    display: inline-block;
    align-self : flex-end;
    bottom: 0;
}

.resume {
    display : flex;
    flex-direction : row;
    justify-content : space-around;

    list-style: none;
}

.school {
    display : flex;
    flex-direction : row;
    justify-content: space-around;

    list-style: none;
}

title {
    font-size : 50px;
}

h1 {
    color : red;
    font-size : 40px;
}


body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 200px;
}
